---
import { getCollection, render } from "astro:content";
import ContainerLayout from "@layouts/ContainerLayout.astro";
import BaseLayout from "@layouts/BaseLayout.astro";
import TextContentLayout from "@layouts/TextContentLayout.astro";
import ProseLayout from "@layouts/ProseLayout.astro";
import ArticleViewCounter from "@components/ArticleViewCounter.astro";
import HeadContent from "@components/HeadContent.astro";
import type { GetStaticPaths } from "astro";

export const getStaticPaths = (async () => {
  const blogCollection = await getCollection("blog");
  return blogCollection.map((entry) => ({
    params: {
      article: entry.id,
    },
    props: { entry },
  }));
}) satisfies GetStaticPaths;

const blogPost = Astro.props.entry;
const { Content, headings } = await render(blogPost);
const { date, intro, image } = blogPost.data;
const title = headings[0].text;
---

<BaseLayout>
  <HeadContent slot="head" {title} description={intro} image={image.src} />

  <ContainerLayout>
    <TextContentLayout>
      <p class="mx-auto mb-4 flex items-center text-gray-500">
        <span>
          {
            new Date(date).toLocaleDateString("en-US", {
              month: "long",
              day: "numeric",
              year: "numeric",
            })
          }
        </span>

        <span class="px-2">⋅</span>

        <ArticleViewCounter server:defer articleSlug={blogPost.id} />
      </p>

      <ProseLayout>
        <Content />
      </ProseLayout>
    </TextContentLayout>
  </ContainerLayout>
</BaseLayout>
