---
import type { GetStaticPaths } from "astro";
import { Image } from "astro:assets";
import { getFileNameFromPath } from "./index.astro";
import RootLayout from "@layouts/RootLayout.astro";

export const getStaticPaths = (async () => {
  const photos = await Astro.glob("../../assets/photos/*");

  return photos.map((photo: any) => ({
    params: {
      photo: getFileNameFromPath(photo.default.src),
    },
    props: {
      photo,
    },
  }));
}) satisfies GetStaticPaths;

const { photo } = Astro.props;
---

<RootLayout title="Photo" hideScrollbar themeColor="#111827">
  <div
    class="cursor-pointer bg-gray-900 w-full h-screen flex justify-center"
    onclick="
    history.back()
    "
  >
    <Image
      src={photo.default}
      alt=""
      height={2000}
      quality="high"
      class="object-contain rounded w-auto h-full"
      transition:name={photo.default.src}
    />
  </div>
</RootLayout>
