---
import Navbar from "@components/Navbar.svelte";
import HeadContent from "@components/HeadContent.astro";

interface Props {
  noStickyNavbar?: boolean;
}

const { noStickyNavbar } = Astro.props;
---

<html lang="en">
  <head>
    <slot name="head">
      <HeadContent />
    </slot>
  </head>

  <body class="overflow-y-scroll bg-gray-50">
    <Navbar
      client:load
      sticky={!noStickyNavbar}
      currentPath={Astro.url.pathname}
    />

    <main class="pb-6">
      <slot />
    </main>
  </body>
</html>
