---
import Navbar from "@components/Navbar.svelte";
import RootLayout from "./RootLayout.astro";

interface Props {
  title?: string;
  noStickyNavbar?: boolean;
}

const { title, noStickyNavbar } = Astro.props;
---

<RootLayout {title}>
  <Navbar
    client:load
    sticky={!noStickyNavbar}
    currentPath={Astro.url.pathname}
  />
  <main>
    <slot />
  </main>

  <style>
    @import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;600&family=Source+Code+Pro&family=Source+Serif+Pro:wght@300;400;600&display=swap");
  </style>
</RootLayout>
