---
import { ViewTransitions } from "astro:transitions";

interface Props {
  title?: string;
  hideScrollbar?: boolean;
}

const { title, hideScrollbar } = Astro.props;

const fullTitle = `${title ? title + " – " : ""}Mikkel Svartveit`;
---

<!doctype html>
<html lang="en" transition:animate="fade">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" href="/favicon.png" />
    <meta name="viewport" content="width=device-width" />
    <title>{fullTitle}</title>
    <meta
      name="description"
      content="Hi, I'm Mikkel! I am a Computer Science student from Norway and this is my playground. Here you will find some programming projects, and a small collection of photos I'm proud of."
    />
    <ViewTransitions fallback="swap" />
  </head>

  <body class={`bg-gray-50 ${hideScrollbar ? "" : "overflow-y-scroll"}`}>
    <slot />
  </body>
</html>
